/* المسؤولة عن about */
.About .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;

}
.About .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}
.About .row .video-container video{
    width: 100%;
    border: 1.5em solid #fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}
.About .row .content{
    flex: 1 1 40rem;
}
.About .row .content h3{
    font-size: 3rem;
    color: black;
    text-align: center;
}
.About .row .content p{
    font-size: 1.5rem;
    color: black;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}