body {
    display: flex;
    font-family: Tahoma;
  }
  
  .products {
    flex: 2;
    padding: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .cart-sidebar {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #f8f8f8;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
  .cart-title {
    margin-top: 140px; /* خليها تبعد  من الأعلى */
    text-align: center;
    font-size: 28px;
    color: #333;
  }
  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* يشغل أغلب الشاشة */
    margin-top: 80px; /* أو حسب ارتفاع الهيدر */
  }
    
  